/* 主要为了覆盖 element 默认样式 */

/*菜单背景*/
.el-menu {
  background: #071526 !important;
}

/*一级菜单 图标*/
.el-submenu__title i {
  color: #fff !important;
}

/*一级菜单 文字*/
.el-submenu__title {
  color: #fff !important;
}

/*一级菜单 鼠标经过效果*/
.el-submenu__title:hover {
  background: #071530 !important;
}

/*二级菜单*/
.el-menu-item {
  background: #091c32 !important;
  color: #fff !important;
}
.el-menu-item-group .is-active {
  background: #399cff !important;
}

/*tab-bar 选中项的样式*/
.el-tabs__nav .is-active {
  background: #fff !important;
}

.el-dropdown-menu .el-popper {
  background: chocolate !important;
}

/*全屏样式*/
body:-webkit-full-screen {
  width: 100%;
  height: 100%;
  background: red;
}
/*全屏时tab隐藏*/
.fullRight > .tabWrap > .tabBar {
  background: none;
}
.fullRight .el-tabs__header {
  display: none;
}
/*全屏控件*/
.fullRight > .tabWrap > .tabOperate {
  display: none;
}


/*表头样式*/
.el-table th{
  background: #f2f6fc !important;
}